/* Colors */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: "Ubuntu", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  height: 100%;
  background: url("../images/bckg.jpg") no-repeat center/cover;
  padding: 40px 5% 60px 5%;
}

h1 {
  font-size: 2.8em;
  line-height: 1;
  margin-bottom: 8vh;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  color: #fff;
}

h2:not(:last-child) {
  margin-bottom: 3vh;
}

.wrapper {
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoom-in 1s ease forwards;
          animation: zoom-in 1s ease forwards;
  padding: 5% 3vw;
}

@-webkit-keyframes zoom-in {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-in {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.animated {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-animation: slide-in 1s ease forwards;
          animation: slide-in 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.home-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
  gap: 30px;
  padding: 50px 5% 0 10px;
  color: #fff;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.home-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.home-img-item {
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.home-img-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgb(224, 4, 4);
  border: 2px solid #fff;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social-btn:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: rgb(224, 4, 4);
}
.social-icons {
  padding: 20px 0;
}
.social-icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social-icons a:hover {
  color: rgb(224, 4, 4);
}

@media only screen and (max-width: 991px) {
  h2 {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.2em;
  }
  .home-img-item {
    margin-bottom: 40px;
    width: 60%;
  }
}