@charset "UTF-8";
/* SCSS Variables */
/*Mixins*/
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

body {
  font-family: "Ubuntu", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  height: 100%;
  background-color: black;
  color: #fff;
}

h1 {
  font-size: 2.8em;
  line-height: 1;
  margin-bottom: 8vh;
  text-transform: uppercase;
  text-align: left;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
}

h2:not(:last-child) {
  margin-bottom: 3vh;
}

h3 {
  font-size: 2.2em;
  text-transform: uppercase;
  text-align: center;
  margin: 8vh 0;
}

h4 {
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
}

caption {
  color: #fff;
}

.red {
  color: rgb(224, 4, 4);
  font-weight: 800;
}

tfoot th, tfoot td {
  font-size: 1.4em;
  font-weight: 600;
}

tr > td:nth-child(2), tr > td:nth-child(3), tr > td:nth-child(4), tr > th:nth-child(2), tr > th:nth-child(3), tr > th:nth-child(4), tfoot tr > td {
  text-align: center;
}

.table {
  margin-bottom: 10vh;
}

.table > :not(caption) > * > * {
  padding: 1rem 1rem;
}

.table > thead > tr > th:first-child {
  width: 40%;
}

.table > thead > tr > th:not(:first-child) {
  width: 20%;
}

.wrapper {
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoom-in 1s ease forwards;
          animation: zoom-in 1s ease forwards;
  padding: 0 3vw 8% 3vw;
  padding-top: 6%;
}

@-webkit-keyframes zoom-in {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-in {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.top-wrapper {
  background: url("../images/bckg.jpg") no-repeat center/cover;
  padding: 40px 5% 60px 5%;
}

.animated {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-animation: slide-in 1s ease forwards;
          animation: slide-in 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*Меню*/
.navbar-brand {
  font-size: 24px;
  font-weight: 600;
}

.nav-link {
  font-size: 20px;
  margin-right: 2vw;
  color: #fff;
  border-bottom: 2px solid transparent;
}
.nav-link.active {
  border-bottom: 2px solid #fff;
}
.nav-link:hover {
  border-bottom: 2px solid #fff;
}

/*Первый экран*/
.home-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 100%;
  gap: 30px;
  padding: 50px 5% 0 10px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.home-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.home-img-item {
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.home-img-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-btn {
  display: inline-block;
  background-color: rgb(224, 4, 4);
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 30px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}
.social-btn:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: rgb(224, 4, 4);
}
.social-icons {
  padding: 20px 0;
}
.social-icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social-icons a:hover {
  color: rgb(224, 4, 4);
}
.social-icons a {
  margin-left: 20px;
  margin-right: 20px;
}

/*Секция Примеры работ(Potrfolio)*/
.portfolio {
  padding: 0 3vw 8% 3vw;
}
.portfolio .btn-primary {
  display: inline-block;
  background-color: rgb(224, 4, 4);
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 30%;
  padding-top: 0;
  padding-bottom: 0;
}
.portfolio .btn-primary:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: rgb(224, 4, 4);
}
.portfolio .card {
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 12px #fff;
          box-shadow: 0 0 12px #fff;
  padding: 0;
}
.portfolio .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.portfolio .card-img-top {
  border-radius: 16px 16px 0 0;
}
.portfolio .card-footer {
  padding-top: 3vh;
  padding-bottom: 4vh;
}
.portfolio .card-body p {
  min-height: 12vh;
  max-height: 12vh;
  overflow: hidden;
  position: relative;
}
.portfolio .card-body p:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(37, 37, 41)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgb(37, 37, 41) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

/*Секция Акции(Offer)*/
.offer {
  position: relative;
  overflow: hidden;
}
.offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer-item:nth-child(2) {
  font-size: 18px;
}
.offer-item:nth-child(2) p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer-item h4 {
  font-weight: 800;
  margin: 0;
}
.offer p {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}
.offer-btn {
  display: inline-block;
  background-color: rgb(224, 4, 4);
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 20px 70px;
  margin-top: 8vh;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  font-size: 20px;
}
.offer-btn:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: rgb(224, 4, 4);
}
.offer-section {
  padding: 0 3vw 8% 3vw;
}
.offer-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer .aurora {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}
.offer .aurora__item {
  width: 60vw;
  height: 10vw;
  position: absolute;
  overflow: hidden;
  background-color: #00c2ff;
  border-radius: 37% 29% 27% 27%/28% 25% 41% 37%;
  -webkit-filter: blur(1rem);
          filter: blur(1rem);
  mix-blend-mode: overlay;
}
.offer .aurora__item:nth-of-type(1) {
  top: -50%;
  -webkit-animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate;
          animation: aurora-border 6s ease-in-out infinite, aurora-1 12s ease-in-out infinite alternate;
}
.offer .aurora__item:nth-of-type(2) {
  background-color: #ffc640;
  right: 0;
  top: 0;
  -webkit-animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate;
          animation: aurora-border 6s ease-in-out infinite, aurora-2 12s ease-in-out infinite alternate;
}
.offer .aurora__item:nth-of-type(3) {
  background-color: #33ff8c;
  left: 0;
  bottom: 0;
  -webkit-animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate;
          animation: aurora-border 6s ease-in-out infinite, aurora-3 8s ease-in-out infinite alternate;
}
.offer .aurora__item:nth-of-type(4) {
  background-color: #e54cff;
  right: 0;
  bottom: -50%;
  -webkit-animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate;
          animation: aurora-border 6s ease-in-out infinite, aurora-4 24s ease-in-out infinite alternate;
}

@-webkit-keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 100%;
    right: 75%;
  }
  75% {
    top: 100%;
    right: 25%;
  }
  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 100%;
    right: 75%;
  }
  75% {
    top: 100%;
    right: 25%;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@-webkit-keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }
  60% {
    top: 100%;
    left: 75%;
  }
  85% {
    top: 100%;
    left: 25%;
  }
  100% {
    top: -50%;
    left: 0%;
  }
}
@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }
  60% {
    top: 100%;
    left: 75%;
  }
  85% {
    top: 100%;
    left: 25%;
  }
  100% {
    top: -50%;
    left: 0%;
  }
}
@-webkit-keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }
  40% {
    bottom: 100%;
    left: 75%;
  }
  65% {
    bottom: 40%;
    left: 50%;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }
  40% {
    bottom: 100%;
    left: 75%;
  }
  65% {
    bottom: 40%;
    left: 50%;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}
@-webkit-keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }
  50% {
    bottom: 0%;
    right: 40%;
  }
  90% {
    bottom: 50%;
    right: 25%;
  }
  100% {
    bottom: -50%;
    right: 0;
  }
}
@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }
  50% {
    bottom: 0%;
    right: 40%;
  }
  90% {
    bottom: 50%;
    right: 25%;
  }
  100% {
    bottom: -50%;
    right: 0;
  }
}
@-webkit-keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27%/28% 25% 41% 37%;
  }
  25% {
    border-radius: 47% 29% 39% 49%/61% 19% 66% 26%;
  }
  50% {
    border-radius: 57% 23% 47% 72%/63% 17% 66% 33%;
  }
  75% {
    border-radius: 28% 49% 29% 100%/93% 20% 64% 25%;
  }
  100% {
    border-radius: 37% 29% 27% 27%/28% 25% 41% 37%;
  }
}
@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27%/28% 25% 41% 37%;
  }
  25% {
    border-radius: 47% 29% 39% 49%/61% 19% 66% 26%;
  }
  50% {
    border-radius: 57% 23% 47% 72%/63% 17% 66% 33%;
  }
  75% {
    border-radius: 28% 49% 29% 100%/93% 20% 64% 25%;
  }
  100% {
    border-radius: 37% 29% 27% 27%/28% 25% 41% 37%;
  }
}
/*End of text animation*/
#timer {
  color: black;
}
#timer div {
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  background: #fff;
  border-radius: 8px;
  border: 2px solid rgb(224, 4, 4);
  margin: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 800;
}
#timer div span {
  color: black;
  display: block;
  font-size: 0.5em;
  font-weight: 400;
  text-align: center;
}

/*Секция Прайс Лист*/
.strike-text {
  position: relative;
  color: lightgray;
  font-size: 0.8em;
}
.strike-text:before {
  position: absolute;
  top: 4px;
  width: 100%;
  height: 50%;
  content: "";
  border-bottom: 4px solid #f00;
  -webkit-transform: rotateZ(-30deg);
          transform: rotateZ(-30deg);
}

.table-primary {
  --bs-table-bg: rgb(123, 3, 123);
  --bs-table-color: $base-light;
}

table.add-services tbody th {
  font-weight: 300;
}

.ri-check-line {
  color: rgb(45, 199, 45);
  font-size: 24px;
}

/* секция Контакты */
.bottom-wrapper {
  background: url("../images/bckg-bottom.jpg") no-repeat center/cover;
  padding: 0 5%;
}

.contacts-icons {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10vw;
}
.contacts-icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contacts-icons a:hover {
  color: rgb(224, 4, 4);
}
.contacts-icons-item {
  padding: 7px 30px 7px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
}
.contacts-icons-item:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: rgb(224, 4, 4);
}
.contacts-icons-item:hover .ri-telegram-2-line:before, .contacts-icons-item:hover .ri-vk-fill:before {
  color: #fff;
}
.contacts h3 {
  margin-top: 0;
  margin-bottom: 100px;
}

.contacts .container-fluid {
  padding: 0;
}

.contacts .ri-telegram-2-line, .contacts .ri-vk-fill {
  font-size: 100px;
}

/*Футер*/
.footer-nav {
  font-size: 12px;
  padding-top: 60px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-item:nth-child(2) {
  font-size: 18px;
}
.footer-item:nth-child(2) p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-item:nth-child(2) i {
  font-size: 32px;
  color: rgb(6, 230, 246);
  margin-left: 7px;
}

@media only screen and (max-width: 991px) {
  h2 {
    font-size: 1.4em;
  }
  .nav-link {
    font-size: 18px;
  }
  .offer-item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offer p {
    text-align: left;
    margin-top: 5vh;
  }
  tfoot th, tfoot td {
    font-size: 1em;
  }
  .table > :not(caption) > * > * {
    padding: 1rem 0.5rem;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.2em;
  }
  .home-img-item {
    margin-bottom: 40px;
    width: 60%;
  }
  #timer {
    font-size: 1em;
  }
  tfoot th, tfoot td {
    font-size: 1em;
  }
  .contacts .ri-telegram-2-line, .contacts .ri-vk-fill {
    font-size: 70px;
  }
}
@media only screen and (max-width: 575px) {
  .footer-item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 5vh;
  }
  .offer-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .offer-item p {
    text-align: left;
    margin-top: 5vh;
    font-size: 1.8em;
  }
  .contacts h3 {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}