/* SCSS Variables */
$base-light: #fff;
$base-dark: black;
$accent: rgb(224, 4, 4);
$purple-accent: purple;
$section-padding: 0 3vw 8% 3vw;
    // Animation colors
$clr-1: #00c2ff;
$clr-2: #33ff8c;
$clr-3: #ffc640;
$clr-4: #e54cff;

/*Mixins*/
@mixin btn-accent {
    display: inline-block;
    background-color: $accent;
    border: 2px solid $base-light;
    color: $base-light;
    font-weight: 500;
    transition: all .5s;
    &:hover {
        background: transparent;
        box-shadow: none;
        color: $base-light;
        border-color: $accent;
    }
}

@mixin img-glow {
    border: 2px solid $base-light;
    border-radius: 20px;
    box-shadow: 0 0 20px $base-light;
    padding: 20px;
    transition: all .5s;
}

// Fonts
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
    cursor: pointer;
}

img {
	width: 100%;
}

body {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	height: 100%;
    background-color: $base-dark;
    color: $base-light;
}

h1 {
	font-size: 2.8em;
	line-height: 1;
	margin-bottom: 8vh;
	text-transform: uppercase;
    text-align: left;
}
h2 {
	font-size: 1.8em;
	font-weight: 300;

}

h2:not(:last-child) {
    margin-bottom: 3vh;
}

h3 {
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 8vh 0;
}

h4 {
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

caption {
    color: $base-light;
}

tfoot th, tfoot td{
    font-size: 1.4em;
    font-weight: 600;
}

tr>td:nth-child(2), tr>td:nth-child(3), tr>td:nth-child(4), tr>th:nth-child(2), tr>th:nth-child(3), tr>th:nth-child(4), tfoot tr>td {
text-align: center;
}

.table>:not(caption)>*>* {
 padding: 1rem 1rem;
}

.table>thead>tr>th:first-child {
    width: 40%;
}

.table>thead>tr>th:not(:first-child) {
    width: 20%;
}

.wrapper {
	position: relative;
	height: 100%;
	background-color: rgba(255, 255, 255, .1);
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 30px;
	backdrop-filter: blur(20px);
	transform: scale(0);
    animation: zoom-in 1s ease forwards;
    padding: $section-padding;
    padding-top: 6%;
 }

@keyframes zoom-in {
	100% {
		transform: scale(1);
	}
}

.top-wrapper {
    background: url('../images/bckg.jpg') no-repeat center / cover;
    padding: 40px 5% 60px 5%; 
}

.animated {
	transform: translateY(30px);
	opacity: 0;
	animation: slide-in  1s ease forwards;
	animation-delay: 1s;
}

@keyframes slide-in {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*Меню*/
.navbar-brand {
	font-size: 24px;
	font-weight: 600;
}

.nav-link {
	font-size: 20px;
	margin-right: 2vw;
    color: $base-light;
    border-bottom: 2px solid transparent;
    &.active {
        border-bottom: 2px solid $base-light;
    }
    &:hover {
        border-bottom: 2px solid $base-light;
    }
}

/*Первый экран*/
.home {
    &-detail {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 100%;
        gap: 30px;
        padding: 50px 5% 0 10px;
        animation-delay: 1.2s;
    }
    &-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        &-item {
            @include img-glow;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.social {
	display: flex;
    flex-direction: column;
	align-items: center;

    &-btn {
        @include btn-accent;
        padding: 10px 30px;
        border-radius: 40px;
        box-shadow: 0 0 10px $base-light;
    }
    &-icons {
        padding: 20px 0;
        a {
            display: inline-flex;
            padding: 8px;
            font-size: 36px;
            color: $base-light;
            text-decoration: none;
            margin: 0 8px;
            transition: all .5s;
            &:hover {
                color: $accent;
            }
        }
    }
}

/*Секция Примеры работ(Potrfolio)*/
.portfolio {
	padding: $section-padding;
	.btn-primary {
        @include btn-accent;
		width: 30%;
		padding-top: 0;
		padding-bottom: 0;
	}
    .card {
        @include img-glow;
        box-shadow: 0 0 12px $base-light;
        padding: 0;
        &:hover {
            transform: scale(1.05);
        }
        &-img-top {
            border-radius: 16px 16px 0 0 ;
        }
        &-footer {
            padding-top: 3vh;
            padding-bottom: 4vh;
        }
    }
}

/*Секция Акции(Offer)*/
.offer {
    position: relative;
    overflow: hidden;
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(2) {
            font-size: 18px;
            p {
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
        h4 {
            font-weight: 800;
            margin: 0;
        }
    }
    p {
        font-size: 2em;
        font-weight: 500;
        text-align: center;
    }
    &-btn {
        @include btn-accent;
        padding: 10px 50px;
        margin-top: 8vh;
        border-radius: 40px;
        box-shadow: 0 0 10px $base-light;

    }
    &-section {
        padding: $section-padding;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    // Анимация текста
    .aurora {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        mix-blend-mode: darken;
        pointer-events: none;
        &__item {
            width: 60vw;
            height: 10vw;
            position: absolute;
            overflow: hidden;
            background-color: $clr-1;
            border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
            filter: blur(1rem);
            mix-blend-mode: overlay;
            &:nth-of-type(1) {
                top: -50%;
                animation: aurora-border 6s ease-in-out infinite,
                aurora-1 12s ease-in-out infinite alternate;
            }
            &:nth-of-type(2) {
                background-color: $clr-3;
                right: 0;
                top: 0;
                animation: aurora-border 6s ease-in-out infinite,
                  aurora-2 12s ease-in-out infinite alternate;
            }
            &:nth-of-type(3) {
                background-color: $clr-2;
                left: 0;
                bottom: 0;
                animation: aurora-border 6s ease-in-out infinite,
                  aurora-3 8s ease-in-out infinite alternate;
            }
            &:nth-of-type(4) {
                background-color: $clr-4;
                right: 0;
                bottom: -50%;
                animation: aurora-border 6s ease-in-out infinite,
                  aurora-4 24s ease-in-out infinite alternate;
            }
         }
    }
}
  
  @keyframes aurora-1 {
    0% {
      top: 0;
      right: 0;
    }
  
    50% {
      top: 100%;
      right: 75%;
    }
  
    75% {
      top: 100%;
      right: 25%;
    }
  
    100% {
      top: 0;
      right: 0;
    }
  }
  
  @keyframes aurora-2 {
    0% {
      top: -50%;
      left: 0%;
    }
  
    60% {
      top: 100%;
      left: 75%;
    }
  
    85% {
      top: 100%;
      left: 25%;
    }
  
    100% {
      top: -50%;
      left: 0%;
    }
  }
  
  @keyframes aurora-3 {
    0% {
      bottom: 0;
      left: 0;
    }
  
    40% {
      bottom: 100%;
      left: 75%;
    }
  
    65% {
      bottom: 40%;
      left: 50%;
    }
  
    100% {
      bottom: 0;
      left: 0;
    }
  }
  
  @keyframes aurora-4 {
    0% {
      bottom: -50%;
      right: 0;
    }
  
    50% {
      bottom: 0%;
      right: 40%;
    }
  
    90% {
      bottom: 50%;
      right: 25%;
    }
  
    100% {
      bottom: -50%;
      right: 0;
    }
  }
  
  @keyframes aurora-border {
    0% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  
    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }
  
    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
  
    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
  
    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  }
/*End of text animation*/

#timer {
    color: $base-dark;
    div {
        display: inline-block;
        min-width: 50px;
        min-height: 50px;
        background: $base-light;
        border-radius: 8px;
        border: 2px solid $accent;
        margin: 10px;
        text-align: center;
        font-size: 1.2em;
        font-weight: 800;
        span {
            color: $base-dark;
            display: block;
            font-size: .5em;
            font-weight: 400;
            text-align: center;
        }
    }
}

    /*Секция Прайс Лист*/
    .strike-text {
        position: relative;
        color: lightgray;
        &:before {
            position: absolute;
            top: 4px;
            width: 100%;
            height: 50%;
            content: '';
            border-bottom: 4px solid #f00;
            transform: rotateZ(-30deg);
         }
    }

    .table-primary {
        --bs-table-bg: rgb(123, 3, 123);
        --bs-table-color: #fff;
    }

/*Футер*/
.footer-nav {
font-size: 12px;
padding-top: 60px;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(2) {
        font-size: 18px;
        p {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        i {
            font-size: 32px;
            color: rgb(6, 230, 246);
            margin-left: 7px;
        }
    }
}


//MEDIA
@media only screen and (max-width: 991px) {
    h2 {
        font-size: 1.4em;
    }
	.nav-link {
		font-size: 18px;
	}
    .offer {
        &-item {
            &:nth-child(2) {
                order: 3;
            }
        }
        p {
            text-align: left;
            margin-top: 5vh;
        }
    }
    tfoot th, tfoot td{
        font-size: 1em;
    }
    .table>:not(caption)>*>* {
        padding: 1rem .5rem;
    }
}
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.2em;
	}
    .home-img-item {
        margin-bottom: 40px;
		width: 60%;
    }
    #timer {
        font-size: 1em;
    }
    tfoot th, tfoot td{
        font-size: 1em;
    }
}

@media only screen and (max-width: 575px) {
	.footer-item {
		&:nth-child(2) {
			order: 3;
			align-self: center;
			margin-top: 5vh;
		}
	}
    .offer-item  {
        justify-content: center;
        &:nth-child(3) {
			order: 3;
		}
        p {
            text-align: left;
            margin-top: 5vh;
            font-size: 1.8em;
        }
    }
}
