/* SCSS Variables */
$base-light: #fff;
$base-dark: black;
$accent: rgb(224, 4, 4);
$purple-accent: purple;
$section-padding: 0 3vw 8% 3vw;
    // Animation colors
$clr-1: #00c2ff;
$clr-2: #33ff8c;
$clr-3: #ffc640;
$clr-4: #e54cff;

/*Mixins*/
@mixin btn-accent {
    display: inline-block;
    background-color: $accent;
    border: 2px solid $base-light;
    color: $base-light;
    font-weight: 500;
    transition: all .5s;
    &:hover {
        background: transparent;
        box-shadow: none;
        color: $base-light;
        border-color: $accent;
    }
}

@mixin img-glow {
    border: 2px solid $base-light;
    border-radius: 20px;
    box-shadow: 0 0 20px $base-light;
    padding: 20px;
    transition: all .5s;
}

@mixin social-icons {
    padding: 20px 0;
    a {
        display: inline-flex;
        font-size: 36px;
        color: $base-light;
        text-decoration: none;
        transition: all .5s;
        &:hover {
            color: $accent;
        }
    }
}

// Fonts
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
    cursor: pointer;
}

img {
	width: 100%;
}

body {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	height: 100%;
    background-color: $base-dark;
    color: $base-light;
}

h1 {
	font-size: 2.8em;
	line-height: 1;
	margin-bottom: 8vh;
	text-transform: uppercase;
    text-align: left;
}
h2 {
	font-size: 1.8em;
	font-weight: 300;
}

h3 {
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 8vh 0;
}

h4 {
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

caption {
    color: $base-light;
}

.red {
    color: $accent;
    font-weight: 800;
}

tfoot th, tfoot td{
    font-size: 1.4em;
    font-weight: 600;
}

tr>td:nth-child(2), tr>td:nth-child(3), tr>td:nth-child(4), tr>th:nth-child(2), tr>th:nth-child(3), tr>th:nth-child(4), tfoot tr>td {
text-align: center;
}

.table {
    margin-bottom:3vh;
}

.table>:not(caption)>*>* {
 padding: 1rem 1rem;
}

.table>thead>tr>th:first-child {
    width: 40%;
}

.table>thead>tr>th:not(:first-child) {
    width: 20%;
}

//Первый экран
.wrapper {
	position: relative;
	height: 100%;
	background-color: rgba(255, 255, 255, .1);
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 30px;
	backdrop-filter: blur(20px);
	transform: scale(0);
    animation: zoom-in 1s ease forwards;
    padding: $section-padding;
    padding-top: 6%;
 }

@keyframes zoom-in {
	100% {
		transform: scale(1);
	}
}

.top-wrapper {
    background: url('../images/bckg.jpg') no-repeat center / cover;
    padding: 40px 5% 60px 5%; 
}

.animated {
	transform: translateY(30px);
	opacity: 0;
	animation: slide-in  1s ease forwards;
	animation-delay: 1s;
}

@keyframes slide-in {
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*Меню*/
.navbar-brand {
	font-size: 24px;
	font-weight: 600;
}

.nav-link {
	font-size: 20px;
	margin-right: 2vw;
    color: $base-light;
    border-bottom: 2px solid transparent;
    &.active {
        border-bottom: 2px solid $base-light;
    }
    &:hover {
        border-bottom: 2px solid $base-light;
    }
}

/*Первый экран*/
.home {
    &-detail {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 100%;
        gap: 30px;
        padding: 50px 5% 0 10px;
        animation-delay: 1.2s;
    }
    &-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        img {
            border-radius: 18px;
        }
        &-item {
            @include img-glow;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-top: 8vh;
            box-shadow: none;
            padding: 20px;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    &-logo {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        img {
            border-radius: 8px;
            padding: 10px;
            margin: 2px;
            width: 5vw;
            object-fit: contain;
        }
        &-item {
            background-color: $base-light;
            z-index: 2;
        }
    }
}

.home {
    ul {
    list-style-type: none;
    }
    &-detail li {
        font-size: 1.8em;
        font-weight: 300;
        margin-bottom: 3vh;
    }
}

.social {
	display: flex;
    flex-direction: column;
	align-items: start;
    padding-top: 6vh;
    &-btn {
        @include btn-accent;
        padding: 10px 30px;
        border-radius: 40px;
        box-shadow: 0 0 10px $base-light;
    }
    &-icons {
        @include social-icons;
        a {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

/*Секция Кейсы(Potrfolio)*/
.portfolio {
	padding: $section-padding;
	.btn-primary {
        @include btn-accent;
		width: 30%;
		padding-top: 0;
		padding-bottom: 0;
	}
    .card {
        @include img-glow;
        box-shadow: 0 0 12px $base-light;
        padding: 0;
        &:hover {
            transform: scale(1.05);
        }
        &-img-top {
            border-radius: 16px 16px 0 0 ;
        }
        &-footer {
            padding-top: 3vh;
            padding-bottom: 4vh;
        }
        &-body p {
            min-height: 12vh;
            max-height: 12vh;
            overflow: hidden;
            position: relative;
            &:after {
                display: block;
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                background: -webkit-gradient(linear, left bottom, left top, from(rgb(37, 37, 41)), to(rgba(255, 255, 255, 0)));
                background: linear-gradient(0deg,rgb(37, 37, 41)0%,rgba(255, 255, 255, 0)100%);
                z-index: 2;
            }
        }
    }
}

/*Секция Акции(Offer)*/
.offer {
    position: relative;
    overflow: hidden;
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(2) {
            font-size: 18px;
            p {
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
        h4 {
            font-weight: 800;
            margin: 0;
        }
    }
    p {
        font-size: 2em;
        font-weight: 500;
        text-align: center;
    }
    &-btn {
        @include btn-accent;
        padding: 20px 70px;
        margin-top: 8vh;
        border-radius: 40px;
        box-shadow: 0 0 10px $base-light;
        font-size: 20px;
    }
    &-section {
        padding: $section-padding;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    // Анимация текста
    .aurora {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        mix-blend-mode: darken;
        pointer-events: none;
        &__item {
            width: 60vw;
            height: 10vw;
            position: absolute;
            overflow: hidden;
            background-color: $clr-1;
            border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
            filter: blur(1rem);
            mix-blend-mode: overlay;
            &:nth-of-type(1) {
                top: -50%;
                animation: aurora-border 6s ease-in-out infinite,
                aurora-1 12s ease-in-out infinite alternate;
            }
            &:nth-of-type(2) {
                background-color: $clr-3;
                right: 0;
                top: 0;
                animation: aurora-border 6s ease-in-out infinite,
                  aurora-2 12s ease-in-out infinite alternate;
            }
            &:nth-of-type(3) {
                background-color: $clr-2;
                left: 0;
                bottom: 0;
                animation: aurora-border 6s ease-in-out infinite,
                  aurora-3 8s ease-in-out infinite alternate;
            }
            &:nth-of-type(4) {
                background-color: $clr-4;
                right: 0;
                bottom: -50%;
                animation: aurora-border 6s ease-in-out infinite,
                  aurora-4 24s ease-in-out infinite alternate;
            }
         }
    }
}
  
  @keyframes aurora-1 {
    0% {
      top: 0;
      right: 0;
    }
  
    50% {
      top: 100%;
      right: 75%;
    }
  
    75% {
      top: 100%;
      right: 25%;
    }
  
    100% {
      top: 0;
      right: 0;
    }
  }
  
  @keyframes aurora-2 {
    0% {
      top: -50%;
      left: 0%;
    }
  
    60% {
      top: 100%;
      left: 75%;
    }
  
    85% {
      top: 100%;
      left: 25%;
    }
  
    100% {
      top: -50%;
      left: 0%;
    }
  }
  
  @keyframes aurora-3 {
    0% {
      bottom: 0;
      left: 0;
    }
  
    40% {
      bottom: 100%;
      left: 75%;
    }
  
    65% {
      bottom: 40%;
      left: 50%;
    }
  
    100% {
      bottom: 0;
      left: 0;
    }
  }
  
  @keyframes aurora-4 {
    0% {
      bottom: -50%;
      right: 0;
    }
  
    50% {
      bottom: 0%;
      right: 40%;
    }
  
    90% {
      bottom: 50%;
      right: 25%;
    }
  
    100% {
      bottom: -50%;
      right: 0;
    }
  }
  
  @keyframes aurora-border {
    0% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  
    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }
  
    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
  
    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
  
    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  }
/*End of text animation*/

#timer {
    color: $base-dark;
    div {
        display: inline-block;
        min-width: 50px;
        min-height: 50px;
        background: $base-light;
        border-radius: 8px;
        border: 2px solid $accent;
        margin: 10px;
        text-align: center;
        font-size: 1.2em;
        font-weight: 800;
        span {
            color: $base-dark;
            display: block;
            font-size: .5em;
            font-weight: 400;
            text-align: center;
        }
    }
}

/*Секция Прайс Лист*/
.price {
    margin-bottom: -3vh;
}

.strike-text {
position: relative;
color: lightgray;
font-size: .8em;
&:before {
    position: absolute;
    top: 4px;
    width: 100%;
    height: 50%;
    content: '';
    border-bottom: 4px solid #f00;
    transform: rotateZ(-30deg);
    }
}

.table-primary {
--bs-table-bg: rgb(123, 3, 123);
--bs-table-color: $base-light;
}

table.add-services  tbody th {
font-weight: 300;
}

.ri-check-line {
    color: rgb(45, 199, 45);
    font-size: 24px;
}

.tech-req {
    margin-bottom: 10vh;
    display: flex;
    .social-btn {
        border-radius: 4px 0 0 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        border-right:1px solid lightgrey;
        &-right {
            border-radius: 0 4px 4px 0;
            border-left: none;
            padding-left: 10px;
            padding-right: 10px;
            border-right: 2px solid $base-light;
        }
    }
}

/* секция Контакты */
.bottom-wrapper {
    background: url('../images/bckg-bottom.jpg') no-repeat center / cover;
    backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
}

.blur {
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 100%;
}

.contacts {
    &-icons {
        @include social-icons;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        &-item {
            padding: 7px 30px 7px 30px;
            border: 2px solid $base-light;
            border-radius: 30px;
            &:hover {
                background: transparent;
                box-shadow: none;
                border-color: $accent;
                .ri-telegram-2-line:before, .ri-vk-fill:before {
                    color: $base-light;
                }
            }
        }
    }
    h3 {
        margin-top: 0;
        padding-top: 8vh;
    }
}

.contacts .container-fluid {
    padding: 0;
}

.contacts .ri-telegram-2-line, .contacts .ri-vk-fill {
    font-size: 70px;
}


/*Футер*/
.footer-nav {
font-size: 12px;
padding-top: 60px;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(2) {
        font-size: 18px;
        p {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        i {
            font-size: 32px;
            color: rgb(6, 230, 246);
            margin-left: 7px;
        }
    }
}

//MEDIA
@media only screen and (max-width: 991px) {
    h2 {
        font-size: 1.4em;
    }
	.nav-link {
		font-size: 18px;
	}
    .offer {
        &-item {
            &:nth-child(2) {
                order: 3;
            }
        }
        p {
            text-align: left;
            margin-top: 5vh;
        }
    }
    tfoot th, tfoot td{
        font-size: 1em;
    }
    .table>:not(caption)>*>* {
        padding: 1rem .5rem;
    }
}
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.2em;
	}
    .home-img-item {
        margin-bottom: 40px;
		width: 80%;
    }
    .home-logo img {
        width: 8vw;
    }
    #timer {
        font-size: 1em;
    }
    tfoot th, tfoot td{
        font-size: 1em;
    }
    .contacts .ri-telegram-2-line, .contacts .ri-vk-fill {
        font-size: 70px;
    }
}

@media only screen and (max-width: 575px) {
    .home-logo img {
        width: 12vw;
    }
    .footer-item {
		&:nth-child(2) {
			order: 3;
			align-self: center;
			margin-top: 5vh;
		}
	}
    .offer-item  {
        justify-content: center;
        &:nth-child(3) {
			order: 3;
		}
        p {
            text-align: left;
            margin-top: 5vh;
            font-size: 1.8em;
        }
    }
    .contacts h3 {
        margin-top: 30px;
        margin-bottom: 70px;
    }
}
